<div class="dash-card">
<%= line_chart Visit.group(:started_at).count %>
</div>
<div class="dash-card">
  <%= line_chart User.group_by_day(:created_at).count %>
</div>

<div class="dash-card">
  <%= geo_chart Visit.group(:country).count %>
</div>
