<aside class="sidebar">
  <div class="grid-title">
    <h2 class="grid-title-text">
      Trending
    </h2>
  </div>
  <div class="main-carousel">
    <% @week_trendings.each do |trending| %>
    <div class="carousel-cell card-trending">
        <div class="">

            <div class="card-main">
              <%= link_to fetch_selfy_path(trending.id), class: "show_lightbox", data: { featherlight: "mylightbox" }, remote: true do %>

                <img class="card-main-image" src="<%= trending.photo.url if trending.photo.url  %>" alt="Image Alt text">
              <% end %>

                <!-- add class liked for image like by current user -->
            </div>
            <!-- .card-main -->

            <!-- .card-footer -->
        </div>
        <!-- .carousel ending -->
        </div>

    <% end %>



  </div>

</aside>
