<aside class="sidebar">
    <h2 class="grid-title-text">Trending</h2>
    <% @week_trendings.each do |trending| %>
        <div class="card-trending">

            <div class="card-main">
                <a class="show_lightbox" data-selfie-id="<%= trending.id %>" href="<%= trending.photo.url %>">
                    <img class="card-main-image" src="<%= trending.photo.url if trending.photo.url  %>" alt="Image Alt text">

                </a>

                <!-- add class liked for image like by current user -->
            </div>
            <!-- .card-main -->

            <!-- .card-footer -->
        </div>

    <% end %>

</aside>
