<aside class="sidebar">
    <h2 class="grid-title-text">My trendings</h2>
    <% @week_trendings.each do |trending| %>
        <p><%= trending.title%></p>
        <img class="card-main-image" src="<%= trending.photo.url if trending.photo.url  %>" alt="Image Alt text">
    <% end %>

</aside>
