<aside class="sidebar">
    <h2 class="grid-title-text">Leader board</h2>
    <img src="http://lifestyle.ynaija.com/wp-content/uploads/2015/09/maxresdefault-3.jpg" alt="#" />
    <img src="http://lifestyle.ynaija.com/wp-content/uploads/2015/09/maxresdefault-3.jpg" alt="#" />
    <img src="hhttp://lifestyle.ynaija.com/wp-content/uploads/2015/09/maxresdefault-3.jpg" alt="#" />
    <img src="http://lifestyle.ynaija.com/wp-content/uploads/2015/09/maxresdefault-3.jpg" alt="#" />
    <img src="http://lifestyle.ynaija.com/wp-content/uploads/2015/09/maxresdefault-3.jpg" alt="#" />
    <img src="http://lifestyle.ynaija.com/wp-content/uploads/2015/09/maxresdefault-3.jpg" alt="#" />
</aside>
