<div class="lightbox">
    <div class="lightbox_container">
        <div class="lightbox_container_image">
            <img src="https://static.pexels.com/photos/48196/female-young-woman-beautiful-48196.jpeg" alt="" />
        </div>
        <div class="lightbox_container_meta">
            here goes the meta
        </div>
    </div>
</div>
