<% provide(:title, "Dashboard") %>

<div class="banner">
    <h1>Upload your selfie for a chance to win <strong>500 Dalasis</strong> every week!</h1>
</div>

<% if user_signed_in? %>
<%= render 'shared/leaderboard' %>
<% end %>


    <div class="grid <%= @width %>">
        <div class="grid-title">
          <h2 class="grid-title-text">
            Latest Entries
          </h2>
        </div>
  <%= render 'shared/selfies' %>
</div><!-- .grid -->
