
<%= render 'shared/leaderboard' %>
<aside class="sidebar">
<%= render 'users/profile' %>
</aside>
    <div class="grid <%= @width %>">
        <div class="grid-title">
          <h2 class="grid-title-text">
          My Entries
          </h2>
        </div>
  <%= render 'shared/selfies' %>
</div><!-- .grid -->
