
<%= render 'users/profile' %>

<div class="grid">
        <div class="grid-title">
          <h2 class="grid-title-text">
          <%= @user.username %> Entries
          </h2>
        </div>
  <%= render 'shared/selfies' %>
</div><!-- .grid -->
