.banner {
  width: calc(100% - 16px);
  margin: 8px;
  background-color: $brand;
  color: white;
  padding: 8px;
  text-align: center;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  @include at-least($tablet) {
      padding: 32px;
  }
  h1 {
    font-size: 32px;
    line-height: 48px;
    @include at-least($tablet) {
        font-size: 64px;
        line-height: 96px;
    }
  }
}
