.banner {
  width: 100%;
  margin:auto;
  background-color: $brand;
  color: white;
  padding: 8px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  @include at-least($tablet) {
      padding: 32px;
  }
  h1 {
    font-size: 32px;
    line-height: 48px;
    @include at-least($tablet) {
        font-size: 64px;
        line-height: 96px;
    }
  }
}


.js-fileupload {
  display: block;
  width: 100%;
  max-width: 400px;
  border: 2px dashed gray;
  border-radius: .5em;
  padding: 3em;
  text-indent: -9999;
  overflow: hidden;
  -webkit-appearance: none;

  &:focus {
    outline: none;
    border-color: black;
  }

  &::-webkit-file-upload-button {
    appearance: none;
    background: transparent;
    border: none;
    width: 0;
    height: 0;
    display: block;
  }

  &:before {
    display: inline-block;
    color: gray;
    content: "...click to choose, or drag a file.";
    width: 100%;
    line-height: 1.6em;
    vertical-align: middle;
    text-align: right;
  }

  &:active {
    color: transparent;
  }
}
