
.header {
  position: fixed;
  left:0;
  right:0;
  top: 0;
  z-index:1;
  height: 64px;
  background-color: $brand;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.header-container {
  max-width: $full-screen;
  width: calc(100% - 32px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #fff;
  line-height: 64px;
  font-size: 32px;
  font-weight:300;
}

.menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    a {
        display: block;
        line-height: 64px;
        color: white;
        min-width: 48px;
        font-size:24px;
        font-weight: 400;
        position: relative;
        text-indent: -99999px;
        @include at-least ($tablet) {
            padding: 0 32px;
            text-indent: 0;
        }
        &:before {
            position: absolute;
            left: 0;
            top:50%;
            transform:translate3d(0%,-50%,0);
            text-indent: 0px;

            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;  /* Preferred icon size */
            display: inline-block;
            width: 1em;
            height: 1em;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
            /* Support for all WebKit browsers. */
            -webkit-font-smoothing: antialiased;
            /* Support for Safari and Chrome. */
            text-rendering: optimizeLegibility;
            /* Support for Firefox. */
            -moz-osx-font-smoothing: grayscale;
            /* Support for IE. */
            font-feature-settings: 'liga';
          }
    }
    .upload_link:before {

        content: 'cloud_upload';
      }
    .profile_link:before {content: 'account_circle';}
    .signout_link:before {content: 'exit_to_app';}

    .dash_link:before {

    content: 'dashboard';}
    .signin_link:before {

      content: 'supervisor_account';}
      .signup_link:before {

        content: 'perm_identity';}
}
