body {
  font-weight: 100;
  font-family: $font;
  background-color:#F1F0EA;
  color: #333333;
  padding-top:64px;
  margin: 0;

}

.main {
  display: flex;
  flex-flow: row wrap;
  display: flex;
    min-height: 100vh;
    flex-direction: column;
  max-width: $full-screen;
  margin: 8px auto;
  align-items: flex-start;
  @include at-least ($tablet) {
      margin: 24px auto;
  }
}
.hidden{display: none}
.sidebar {
  margin:0 8px;
  img {
    width: 100%;
    margin: 8px 0;
  }
  width: calc(100% - 16px);
  @include at-least($tablet) {
      width: 33.33%;
  }
  @include at-least($small-desktop) {
      width: 25%;
  }
  @include at-least($large-desktop) {
      width: 20%;
  }
}
.grid {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  @include at-least($tablet) {
      width: calc(66.66% - 16px);
  }
  @include at-least($small-desktop) {
      width: calc(75% - 16px);
  }
  @include at-least($large-desktop) {
      width: calc(80% - 16px);
  }
}

.grid-title {
  width: 100%;
  padding: 0 8px;
}

.grid-title-text {
  font-size:36px;
  line-height: 72px;
}

.text_container {
    width: calc(100% - 20px);
    max-width: 960px;
    margin: 0 auto;
    font-weight: 400;
}
