body {
  font-weight: 100;
  font-family: $font;
  background-color:#F1F0EA;
  color: #333333;
  padding-top:64px;
  margin: 0;

}

.main {
  display: flex;
  flex-flow: row wrap;
  // display: flex;
  // min-height: 100vh;
  max-width: $full-screen;
  margin: 8px auto;
  align-items: flex-start;
  @include at-least ($tablet) {
      margin: 24px auto;
  }
}
.hidden{display: none}
.sidebar {
  margin:0 8px;
width: 100%;
@include at-least($small-mobile) {
    width: calc(100% - 16px);
}
@include at-least($large-mobile) {
    width: calc(20% - 16px);
}
@include at-least($small-desktop) {
    width: calc(20% - 16px);
}


}
.leaderboard{
  width: 100%;
}
.grid {
  display: flex;
  flex-flow: row wrap;
  width: 100%;


}
.profile{

  width: 100%;
  @include at-least($small-mobile) {
      width: calc(100% - 16px);
  }
  @include at-least($large-mobile) {
      width: calc(80% - 16px);
  }
  @include at-least($small-desktop) {
      width: calc(80% - 16px);
  }
}
.grid-title {
    width: calc(100% - 16px);
  padding: 0 0px;
  margin: 8px;
    text-align: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border-radius: 2px;
}

.grid-title-text {
  font-size:36px;
  line-height: 72px;
  margin: 8px;
}

.text_container {
    width: calc(100% - 20px);
    max-width: 960px;
    margin: 0 auto;
    font-weight: 400;
}
.main-carousel__card{
  width: calc(100% - 16px);
    margin: 8px;
}
