.lightbox {
    position: fixed;
    background-color: rgba(0,0,0,0.75);
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 2;
    display: none;
    .form_btn {
      width: 32px;
      height: 32px;
    color: white;
      position: absolute;
      bottom: 32px;
      right: 16px;
      background-color: #7a339b;
      border: 0;
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
      // text-indent: -9999px;

}

    &_container {
        position: fixed;
        display: flex;
        flex-flow: row wrap;
        width: calc(100% - 32px);
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px,
                    rgba(0, 0, 0, 0.117647) 0px 1px 4px;
        top: 50%;
        left: 50%;
        max-width: 400px;
        transform: translate3d(-50%,-50%,0);
        background-color: #fff;
        border-radius: 2px;

        @include at-least($tablet) {
            max-width: 935px;
            &:after{
              content: "";
              width: calc(100% - 32px);

            }
        }

        &_image {
            width: 100%;
            @include at-least($tablet)
            {
              width: 66.6%;
            };
            position:relative;

              &:after{
                content: "";
                padding-bottom: 100%;
                display: block;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%,-50%,0);
            }

        }

        &_meta {
          width: 100%;
          height: 100%;
            transition: transform .3s;
          transform: scaleY(0);

            @include at-least($tablet) {
              width: calc(100% / 3);

              // height: 0;
              // padding-bottom: calc((100% / 3) * 2);
              position: relative;
            }

        }
    }
}

.show {
    display: block;
}


.comment-container {
  width: 310px;
  height: 100%;
  max-height: 512px;
  overflow-y: scroll;
  margin: auto;
  background-color: #F1F0EA;

    @include scrolling-shadows(#F4F5F7);
}
.comment {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: calc(100% - 16px);
  margin: 8px;
  padding: 8px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 4px;
  border-bottom: 2px solid #7a339b;
&__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 16px
}
&__author {
  a {
    text-decoration: none;
    font-weight: 700;
    color: #7a339b;
    font-size: 16px;
    line-height: 16px;
  }
}
&__time {
  font-size: 14px;
  line-height: 14px;
  font-weight: 100;
}

&__body {
  padding: 0 8px;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}
&__link{
  display: none;
}


@include until($tablet){

  &__mobile{
    position: absolute;
    transform: scaleY(1);
    transition: transform .3s;
  }
  &__link{
    position: absolute;
        bottom: 0;
        display: block;
        background-color: white;
        line-height: 33px;
        z-index: 9;
        width: calc(100% - 32px);
        font-weight: 300;
        padding: 0px 16px;
        color: $brand;
  }
}

}

.new_comment {

  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
    &:after {

    display: block;
    text-indent: 0;
    color: white;
    position: absolute;
    bottom: 36px;;
    right: 22px;
      font-size: 24px;
  }
}
.form-control {
  width: calc(100% - 8px);
  margin: 8px 4px;
  min-height: 72px;
  line-height: 20px;
  font-size: 14px;
  box-sizing: border-box;
  padding: 8px 40px 8px 8px;
  border: 0;
  border-bottom: 1px solid #7a339b;
  resize: none;
  outline:none;
  box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
}
.form_button{
  @extend .material-icons;
 content: 'favorite';
}
