//fonts
$font: 'Lato', sans-serif;

//colors
$brand: #7A339B; //purple
$black: #333333;
$white: #FFFFFF;
$bg-color: #F1F0EA; // off white

//devices

$large-mobile: 600px;
$tablet: 767px;
$small-desktop: 1024px;
$desktop: 1280px;
$large-desktop: 1440px;
$full-screen: 1440px;
