<div  id="comments_<%= comment.id %>">

     <div class="comment">
    <header class="comment__header">
      <div class="comment__author">
        <a href=""><%= comment.user.username %></a>
      </div>
      <div class="comment__time"><%= time_ago_in_words(comment.created_at) %> ago</div>
    </header>
    <div class="comment__body">
      <p><%= comment.body %></p>
    </div>

</div>

</div>
